# 한글설정

In [1]:
!apt-get install fonts-nanum* > /dev/null 2>&1
!fc-cache -fv > /dev/null 2>&1

In [2]:
import os
import matplotlib as mpl

file_dir = os.path.split(mpl.__file__)[0]
font_dir = os.path.join(file_dir, 'mpl-data/fonts/ttf')
!cp /usr/share/fonts/truetype/nanum/Nanum* {font_dir}
!rm -rf ~/.cache/matplotlib/*

> Runtime Restart

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumGothicCoding')

# 데이터 가져오기

In [2]:
import os
import gdown

id = "10Hpa4YM0KX_Ig0W9w7DbTdq62nF2UThA"
output = "./open.zip"

if not os.path.isdir('./datasets'):
  gdown.download(id=id, output=output)
  gdown.extractall(path=output, to='./datasets')

Downloading...
From: https://drive.google.com/uc?id=10Hpa4YM0KX_Ig0W9w7DbTdq62nF2UThA
To: /content/open.zip
100%|██████████| 10.0M/10.0M [00:00<00:00, 41.5MB/s]

# 데이터프레임 만들기

In [3]:
import os
import glob
import pandas as pd
from collections import defaultdict

raw_data = defaultdict(pd.DataFrame)

for fname in glob.glob('./**/*.csv', recursive=True):
    df_name = os.path.splitext(os.path.basename(fname))[0]
    raw_data[df_name] = pd.read_csv(fname)

# Scaler 적용

In [5]:
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

train = raw_data['train'].copy()

X = train.filter(regex='X')
y = train.filter(regex='Y')

preprocessor = Pipeline(steps=[
    ('scaler_function', StandardScaler())  
])

Xt = preprocessor.fit_transform(X)

In [6]:
Xt = pd.DataFrame(data=Xt, index=X.index, columns=X.columns)
Xt.head()

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,0.802711,-0.446638,-0.263313,0.0,-0.811901,1.940794,0.005793,-0.463110,0.304381,-0.028394,...,0.0,0.0,-0.812049,1.046624,0.657507,1.429793,1.106418,-0.443270,-0.177546,-0.626883
1,0.418668,2.238952,-0.709820,0.0,-0.717070,1.038055,-0.092325,-0.468328,0.123064,-0.028394,...,0.0,0.0,-0.728478,0.494532,0.762086,1.752329,-0.763482,-0.022226,0.829965,-0.654610
2,1.570422,-0.446638,-0.923366,0.0,1.487741,1.038055,-0.081423,-0.266241,0.701331,-0.028394,...,0.0,0.0,-0.667308,0.339004,-0.067753,1.271613,0.165699,-0.184383,0.383237,-1.139362
3,1.186378,-0.446638,-0.243900,0.0,-0.667831,2.843089,-0.066433,-0.223409,0.448985,-0.028394,...,0.0,0.0,-0.194527,0.561658,0.300292,0.175052,0.747128,0.498552,1.486583,1.181833
4,0.418668,-0.446638,-1.020433,0.0,-0.649595,0.135760,0.037136,-0.277084,0.240695,-0.028394,...,0.0,0.0,-0.655367,1.995805,0.869969,-0.577155,1.184620,-0.435474,0.220755,-0.949337